In [1]:
# andy's code starts here

In [2]:
# dependencies
import pandas as pd
import os

In [3]:
# file path
file = 'winemag-data_first150k.csv'

In [4]:
# reading csv file into dataframe
dirty_wine_df = pd.read_csv(file)
dirty_wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
# checking to see where there might be nulls
dirty_wine_df.count()

Unnamed: 0     150930
country        150925
description    150930
designation    105195
points         150930
price          137235
province       150925
region_1       125870
region_2        60953
variety        150930
winery         150930
dtype: int64

In [6]:
# seeing what countries we start with
# dirty_wine_df['country'].value_counts()

In [7]:
# keeping only the columns we want (dropping imported index, description, designation, region_2 and winery)
# dropping those partially because we don't need them , parially because they lose us lots of data
less_dirty_wine_df = dirty_wine_df[['country', 'points', 'price', 'province', 'region_1', 'variety',  ]]

In [8]:
less_dirty_wine_df.head()

,country,points,price,province,region_1,variety
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon
1,Spain,96,110.0,Northern Spain,Toro,Tinta de Toro
2,US,96,90.0,California,Knights Valley,Sauvignon Blanc
3,US,96,65.0,Oregon,Willamette Valley,Pinot Noir
4,France,95,66.0,Provence,Bandol,Provence red blend

In [9]:
# I am dropping all na's in in all columns except region_1. if i drop na's in that column we lose almost all our
# counrties (a lot of data goes away like smoke in the wind)
cleaned_wine_df = less_dirty_wine_df.dropna(subset=['country', 'province', 'variety', 'price', 'points'])

In [10]:
# just renaming columns
cleaned_wine_df = cleaned_wine_df.rename(columns={
    'country': 'Country',
    'points': 'Points',
    'price': 'Price',
    'province': 'Province',
    'region_1': 'Region',
    'variety': 'Variety'
})
cleaned_wine_df.head()

,Country,Points,Price,Province,Region,Variety
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon
1,Spain,96,110.0,Northern Spain,Toro,Tinta de Toro
2,US,96,90.0,California,Knights Valley,Sauvignon Blanc
3,US,96,65.0,Oregon,Willamette Valley,Pinot Noir
4,France,95,66.0,Provence,Bandol,Provence red blend

In [11]:
# these are the countries i want in my csv that i will be exporting
countries_i_want = [
    'US',
    'Italy',
    'France',
    'Spain',
    'Chile',
    'Argentina',
    'Portugal',
    'Australia',
    'New Zealand',
    'Austria',
    'Germany',
    'South Africa'
]

In [12]:
# i am going ot make a new data frame of only those countries

# start with empty data frame
wine_df = cleaned_wine_df.loc[cleaned_wine_df['Country'] == 'Andyland', :]

# now iterating over those countries i want in my data frame i will add their data
for land in countries_i_want:
    wine_df = wine_df.append(cleaned_wine_df.loc[cleaned_wine_df['Country'] == land, :], ignore_index=True)
    
wine_df.head()

  Country  Points  Price    Province              Region             Variety
0      US      96  235.0  California         Napa Valley  Cabernet Sauvignon
1      US      96   90.0  California      Knights Valley     Sauvignon Blanc
2      US      96   65.0      Oregon   Willamette Valley          Pinot Noir
3      US      95   65.0      Oregon  Chehalem Mountains          Pinot Noir
4      US      95   60.0  California        Sonoma Coast          Pinot Noir

In [13]:
wine_df['Country'].value_counts()

US              62139
Italy           18784
France          14785
Spain            8160
Chile            5766
Argentina        5587
Australia        4894
Portugal         4176
New Zealand      3070
Austria          2483
Germany          2347
South Africa     2237
Name: Country, dtype: int64

In [14]:
wine_df.count()

Country     134428
Points      134428
Price       134428
Province    134428
Region      114199
Variety     134428
dtype: int64

In [15]:
# file path out for first csv
out_file1 = 'wine_data.csv'

In [16]:
# writing first csv of those countries we selected
wine_df.to_csv(out_file1, index=False)

In [17]:
# now looking to make another csv of only 25 top varieties

In [18]:
wine_df.head()

  Country  Points  Price    Province              Region             Variety
0      US      96  235.0  California         Napa Valley  Cabernet Sauvignon
1      US      96   90.0  California      Knights Valley     Sauvignon Blanc
2      US      96   65.0      Oregon   Willamette Valley          Pinot Noir
3      US      95   65.0      Oregon  Chehalem Mountains          Pinot Noir
4      US      95   60.0  California        Sonoma Coast          Pinot Noir

In [19]:
# we only want the ones with over a thousand datas
wine_df.Variety.value_counts().head(30)

Chardonnay                       13590
Pinot Noir                       13559
Cabernet Sauvignon               12417
Red Blend                         8973
Sauvignon Blanc                   5975
Syrah                             5613
Riesling                          5122
Merlot                            4857
Bordeaux-style Red Blend          4466
Zinfandel                         3792
Malbec                            3085
Sangiovese                        2879
Tempranillo                       2520
Rosé                              2416
White Blend                       2344
Shiraz                            1901
Portuguese Red                    1812
Sparkling Blend                   1779
Nebbiolo                          1525
Rhône-style Red Blend             1454
Corvina, Rondinella, Molinara     1292
Cabernet Franc                    1279
Pinot Grigio                      1258
Pinot Gris                        1257
Viognier                          1230
Champagne Blend                    999
Barbera                            960
Sangiovese Grosso                  938
Petite Sirah                       887
Gewürztraminer                     875
Name: Variety, dtype: int64

In [20]:
# making list of top 25 varieties
num_vars = 25
ranked_varieties = wine_df.Variety.value_counts().head(num_vars).index
print(ranked_varieties)

Index(['Chardonnay', 'Pinot Noir', 'Cabernet Sauvignon', 'Red Blend',
       'Sauvignon Blanc', 'Syrah', 'Riesling', 'Merlot',
       'Bordeaux-style Red Blend', 'Zinfandel', 'Malbec', 'Sangiovese',
       'Tempranillo', 'Rosé', 'White Blend', 'Shiraz', 'Portuguese Red',
       'Sparkling Blend', 'Nebbiolo', 'Rhône-style Red Blend',
       'Corvina, Rondinella, Molinara', 'Cabernet Franc', 'Pinot Grigio',
       'Pinot Gris', 'Viognier'],
      dtype='object')

In [21]:
type(ranked_varieties)

  Country  Points  Price    Province                Region     Variety
0      US      95   90.0      Oregon     Willamette Valley  Chardonnay
1      US      95   60.0  California           Edna Valley  Chardonnay
2      US      90   37.0  California  Russian River Valley  Chardonnay
3      US      90   42.0  Washington  Columbia Valley (WA)  Chardonnay
4      US      90   18.0  California  Russian River Valley  Chardonnay

In [ ]:
# making a new df for only those selected varieties

# start with empty df
variety_df = wine_df.loc[wine_df['Variety'] == "Andy's Blend", :]



# now append all rows for each variety list
for wine in ranked_varieties:
    variety_df = variety_df.append(wine_df.loc[wine_df['Variety'] == wine, :], ignore_index=True)

variety_df.head()

In [22]:
# creating filepath to 
out_file2 = 'variety_data.csv'

In [23]:
variety_df.to_csv(out_file2, index=False)

In [ ]:
# This is for the bonus part of looking where to plant a specific grape variety

In [ ]:
wine_df.head()

In [ ]:
# I want only US entries for this excersize and because I am working with region I will now need to drop na's
# in that column

# dropping all countries besides us
us_df = wine_df.loc[wine_df['Country'] == 'US', :]

region_df = us_df.dropna()

In [ ]:
us_df.count()

In [ ]:
region_df.count()

In [ ]:
# looks like i only lost about a hundred and thirty six entries so that is good

In [ ]:
# region_df['Province'].value_counts().head(30)

In [ ]:
# making file path for bonus work csv 
out_file3 = 'region_data.csv'

In [ ]:
# writing csv
region_df.to_csv(out_file3, index=False)

In [24]:
# andy's code ends here